* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f5f7;
    color: #333;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav a {
    margin: 0 12px;
    text-decoration: none;
    color: #444;
    font-size: 14px;
}

.btn {
    background: #ff014f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}



.projects {
    padding: 60px 80px;
    text-align: center;
}

.projects h1 {
    font-size: 36px;
}

.subtitle {
    color: #777;
    margin-bottom: 40px;
}


.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.card {
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.12);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    border-radius: 12px;
}

.card h3 {
    margin: 15px 0 10px;
}

.card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.card a {
    display: inline-block;
    text-decoration: none;
    background: #ff014f;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .project-grid {
        grid-template-columns: 1fr;
    }

    .projects {
        padding: 40px 20px;
    }

    .navbar {
        padding: 20px;
    }
}
